@{
    ViewData["Title"] = "Disclaimer";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="~/images/logos/FM-LogoBG.jpeg" style="width:100%;" />
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="mb-5 mt-5 pt-5 pb-5">
                <h1 class="text-warning">Disclaimer</h1>
                <p>
                    Trading foreign currencies can be a challenging and potentially profitable opportunity 
                    for investors. However, before deciding to participate in the Forex market, 
                    you should carefully consider your investment objectives, level of experience, 
                    and risk appetite. Most importantly, do not invest money you cannot afford to lose. 
                    We maintain a strictly no refund policy. Forex Masters will not be held responsible 
                    for any losses incurred.
                </p>
            </div>
        </div>
    </div>
</div>