@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forex Masters | Error 503</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container text-center">
        <img src="~/images/error.png" />
        <h1>Error 503: Service Unavailable</h1>
    </div>
</body>
</html>

