@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div id="Welcome">
        <h1>Carousel slide with 2 images and customised message</h1>
    </div>
    <div id="CompanyInfo">
        <h1>About Forex Masters</h1>
        <p>
            Forex Masters is Trading Company based in Zimbabwe and has a branch in South Africa
            and it is fully Registered in Zimbabwe under the Companies Act (Chapter 24.3).
            Our aim is to provide quality education to people as a way to change their lives
            through Forex Trading. We also aim to set up other branches through Africa.
        </p>
        <h1>Vision Statement</h1>
        <p>
            We aim to establish more branches across Africa so as to provide onsite classes
            and also aim to be the best Forex service provider.
        </p>
        <h1>Mission statement</h1>
        <p>
            Currently we offering Online classes and Onsite classes in Zimbabwe and South Africa.
        </p>
    </div>
    <div id="JoinUs">
        <h1>JOIN US</h1>
        <h4>Our Services</h4>
        <ul>
            <li>Beat The Market Maker Strategy (BTMM)</li>
            <li>Price Action</li>
            <li>Signals on both indices and Currencies</li>
            <li>Trading Psychology</li>
            <li>Risk Management</li>
            <li>Lifetime Mentorship</li>
        </ul>
    </div>
    <div id="Signals">
        <p>
            We will include a link to its separate page.
            <br />
            Here we'll just briefly mention main categories of the signals...
        </p>
    </div>
    <div id="Payments">
        <h1>Modes of payment</h1>
        <p>
            Payments made to:<br />
            Skrill: Ashleymasangano@gmail.com<br />
            Neteller: kudzaisheashley@gmail.com<br />
            Paypal: to be provided by Tumelo<br />

            Here I think we'll add images of each payment method and a link to their specific sites for opening an account.
        </p>
    </div>
    <div>
        <h1>Forex Masters Testimonials</h1>
        <p>We'll turn this into dynamic slides of text</p>
        <p>
            <strong>Nigel Jimu (Zimbabwe)</strong>
            I had lost hope with Trading forex but Forex Masters help me to achieve and reach great heights
        </p>
        <p>
            <strong>
                Zinhle Mhlangu
            </strong>
            Joining the Forex Masters team was the best decision I ever made regarding forex trading.
            From lessons to mentorship they are the best and I would hesitate to recommend them.
        </p>
        <p>
            <strong>
                Enoch Tempo
            </strong>
            Indeed, they are Poverty Sanitisers.  Now I own a business of my own. All thanks to forex Masters

        </p>
        <p>
            Forex masters, your signals are really legit and they earn big profit on the free group I just
            imagine how they will be on the vvip group
            Thank you, guys.
            <strong>Ramadwa Mukovhe(South Africa)</strong>

        </p>
        <p>
            I am <strong>
                Andrew
            </strong>from Nigeria learning Forex trading. I came in contact with Forex Master on
            WhatsApp and since then, my experiences have increased. Couple with his free signals on daily
            basis and mentorship. I don't know him before but he is doing great to make sure I succeed in
            my dream and have financial freedom. I appreciate your kind coaching and encouragement.
            May God Almighty bless you more.
        </p>
    </div>
    <div id="Socials">
        <h1>Join our Free telegram and whatsapp groups</h1>
        <p><a href="https://chat.whatsapp.com/DJC8Jy4i4Yw8oSC4Ov5HSZ">Whatsapp free group</a></p>
        <p><a href="https://t.me/joinchat/AAAAAEXJwtzlr88N0GsaGw">Telegram free group</a></p>
        <h3>Visit and follow us on our Instagram page AT-ForexMasters </h3>
        <p>...I think we'll add photos here as well</p>
    </div>
    <div id="Team">
        <h1>Our Forex Masters team</h1>
        <p>
            1. Ashley K Masangano (Founder and CEO Harare branch)
            -2 Years experience in forex trading
            .Entrepreneur
            .Business minded and always open for new ideas .
            . Works towards business growth and Networking
            .Determined to push to higher ambitions
            .quickly adapts to changes
        </p>
        <p>
            2. Tumelo Mpatse
            Co-founder of Forex Masters | 1 year Experience with trading | Swinger and scalp Master | Believes in Consistency | Acturial scientist |
            "Act like you know nothing and you will learn a lot "-Astro
        </p>
        @*Cards, I guess...*@
    </div>
    <div id="ContactUs">
        <p>
            <strong>Call us/WhatsApp</strong><br />
            +263 71 761 9529<br />
            +27 76 044 30 89<br />

            <strong>Email us on:</strong><br />
            Ashleymasangano@gmail.com<br />
            Kudzaisheashley@gmail.com<br />

            <strong>Our Address</strong><br />
            Harare, Zimbabwe<br />
            Bloemfontein, South Africa
        </p>
    </div>
</div>
