@{
    ViewData["Title"] = "Payments";
}
<div class="container">
    <h1 class="text-warning text-uppercase">Payments</h1>
    <p>
        <strong>1.</strong> Payment option
        <br />
        Kindly choose payment Option from the modes of maypent below.
        <br />
        <strong>2.</strong> After payment kindly take a screenshot
        <br />
        <strong>3.</strong> Send proof of payment via our
        <a href="https://api.whatsapp.com/send?phone=263717619529">
            WhatsApp platform
            <span class="fab fa-whatsapp fa-2x"></span>
        </a>
    </p>
    <div id="Payments">
        <h1 class="text-warning text-uppercase">Modes of Payment</h1>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="~/images/payments/Skrill_Image.png" style="width:100%;" />
                <p>
                    Skrill payments made to:
                    <a href="mailto:Ashleymasangano@gmail.com">
                        Ashleymasangano@gmail.com
                    </a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="~/images/payments/NetellerLogo.png" style="width:100%;" />
                <p>
                    Neteller pyments made to:
                    <a href="mailto:kudzaisheashley@gmail.com">
                        kudzaisheashley@gmail.com
                    </a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="~/images/payments/CapitecPayment.png" style="width:100%;" />
                <p>
                    BANKING DETAILS
                    <br />
                    <strong>CAPITEC BANK</strong><br />
                    <strong>Account number:</strong> 1533255189<br />
                    <strong>Account Type:</strong> Savings
                </p>
            </div>
        </div>
    </div>
</div>