
@{
    ViewData["Title"] = "Resources";
}

<div>
    <img class="h-100vh w-100" src="~/images/LearnTrading.jpg" />
</div>
<div class="container">
    <h1 class="text-warning">FREE Study Materials</h1>
    <ul>
        <li>
            <a href="~/docs/FOREX_MASTERS_PRESENTS_FINAL.pdf">FOREX MASTERS PRESENTS FINAL.pdf</a>
        </li>
        <li>
            <a href="~/docs/TheSecretsOfTrading.pdf">THE SECRETS OF TRADING.pdf</a>
        </li>
        <li>
            <a href="~/docs/TRENDLINE_TRADING_STRATEGY.pdf">TRENDLINE TRADING STRATEGY.pdf</a>
        </li>
    </ul>
</div>