@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <div>
        <h1 class="text-warning text-uppercase">Price Action</h1>
        <p class="text-white">
            -Beginner to advanced level study Material<br />
            - Weekly Projections<br />
            - Discussions via Zoom<br />
            -One one tutorials<br />
            <br />
            $200  includes Lifetime mentorship + premium signals
            <br />
            <a class="btn btn-warning text-white font-weight-bold" asp-controller="Home" asp-action="Payments" style="border-radius: 50px;">
                Subscribe
            </a>
        </p>
        <h1 class="text-warning text-uppercase">BTMM</h1>
        <p class="text-white">
            -Great depth understanding of BTMM<br />
            -Weekly projectionn<br />
            -Discussions via Zoom<br />
            -One on one tutorials<br />
            <br />
            $200USD includes Lifetime mentorship + Premium signals
            <br />
            <a class="btn btn-warning text-white font-weight-bold" asp-controller="Home" asp-action="Payments" style="border-radius: 50px;">
                Subscribe
            </a>
        </p>
        <h1 class="text-warning text-uppercase">Mentorship</h1>
        <div class="row">
            <div class="col">
                <p class="text-white">
                    <strong>4 months mentorship</strong>
                    <br />
                    $50 usd
                    <br />
                    <a class="btn btn-warning text-white font-weight-bold" asp-controller="Home" asp-action="Payments" style="border-radius: 50px;">
                        Subscribe
                    </a>
                    <br />
                    <strong>Lifetime Mentorship</strong>
                    <br />
                    $100 usd
                    <br />
                    <a class="btn btn-warning text-white font-weight-bold" asp-controller="Home" asp-action="Payments" style="border-radius: 50px;">
                        Subscribe
                    </a>
                </p>
            </div>
            <div class="col">
                <img src="~/images/logos/FM-LogoBG.jpeg" style="width:100%;"/>
            </div>
        </div>
    </div>
</div>