
@{
    ViewData["Title"] = "Signals";
}

<div>
    <img class="h-100vh w-100" src="~/images/signals/forex-signals.jpg" />
</div>
<div style="background-image: url('/images/signals/forex-signalsBG.jpg');">
    <div class="container">
        <h1 class="text-warning">VIP signals</h1>
        <p>
            For accurate signals subscribe and join our VIP group<br />where we share signals with 93% success rate.<br />
            Profits Guaranteed!!!!
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>VIX signals</h2>
                <p>

                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>Weekley signals</h2>
                <p>
                    -$55<br />
                    -V100<br />
                    -Boom 1000<br />
                    -Crash 1000<br />
                    and many others
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>Monthly signals</h2>
                <p>
                    -$55<br />
                    -V100<br />
                    -Boom 1000<br />
                    -Crash 1000<br />
                    and many others
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>Lifetime signals</h2>
                <p>
                    -$100<br />
                    -V10<br />
                    -V25<br />
                    -Volatility 75
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>Currencies signals</h2>
                <p>
                    -Weekly $20<br />
                    -Monthly $65<br />
                    -Lifetime $120
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-2 signal-border btn-outline-warning">
                <h2>Nasdaq signals Only</h2>
                <p>
                    -Weekly $25<br />
                    -Monthly $70<br />
                    -Lifetime $130
                    @*also add a link where people can do payments online*@
                </p>
            </div>
        </div>
        <div id="Signals" class="text-center mt-5 mb-5">
            <a  class="btn btn-warning text-white font-weight-bold" asp-controller="Home" asp-action="Payments" style="border-radius: 50px;">
                Payments
            </a>
        </div>
    </div>
</div>
