<div class="container text-white text-center">
    <div class="bg-danger mb-1 p-2 text-white"><h4>Access Denied</h4></div>
    <p>
        Your Account Is Inactive To Access Content.
        <br />
        Consult The Admin.
    </p>
    <a asp-action="Courses" asp-controller="Masterclass" class="btn btn-primary">Back</a>
</div>