@model Topic

@{
    ViewData["Title"] = "Enter Password";
}
<!-- TO DO: DONE -->
<div id="MasterclassBG" style="background-image: url('/images/hands-shake.jpg');">
    <div class="container text-white">
        <h3 class="text-center font-weight-bold text-uppercase pt-3">@Model.Name</h3>
        <div id="alert-area">
            @if (@ViewBag.Message == "failed")
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Access Denied: Incorrect Password!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <form asp-action="EnterPassword" method="post">
                <div class="form-group">
                    <label class="text-center">Enter Password:</label>
                    <input name="password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="id" value="@Model.TopicID" hidden />
                </div>
                <input class="btn btn-primary mb-3" type="submit" value="Submit" style="border-radius: 50px;" />
            </form>
        </div>
    </div>
</div>