<div class="container text-white pt-5">
    <div id="Welcome" class="text-center">
        <h1>Welcome to Forex Masters Masterclass</h1>
        <br />
        <h3>
           @User.Identity.Name
        </h3>
    </div>
</div>
