@model IEnumerable<Topic>

@{
    ViewData["Title"] = "Topics";
}
<!-- TO DO: DONE -->
<div class="container pb-3">
    <h1 class="text-center text-primary font-weight-bold text-uppercase">Topics</h1>

    @if (Model.Count() > 0)
    {
        @foreach (Topic topic in Model)
        {
            <p>
                <a asp-controller="Masterclass" asp-action="EnterPassword" asp-route-id="@topic.TopicID" class="text-white">
                    <i class="fa fa-folder fa-2x" style="color: blue;"></i> <span style="font-size: medium;">@topic.Name</span>
                </a>
            </p>
        }
    }
    else
    {
        <p class="text-center">No topics available as yet!</p>
    }
</div>